.grid {
  box-sizing: border-box;
  gap: 0;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}
button {
  background-color: #2d2d2d;
  border-color: #404040 #1a1a1a #1a1a1a #404040;
  color: white;
  transition: all 0.1s ease;
  font-size: 1em;
}

.operador {
  color: white;
  background-color: #37474f;
  border-color: #546e7a #263238 #263238 #546e7a;
}

.funcao {
  background-color: #455a64;
  border-color: #607d8b #37474f #37474f #607d8b;
}
.igual {
  background-color: #26a69a;
  border-color: #4db6ac #00695c #00695c #4db6ac;
}
